
code {
    background: #343434 !important;
    color: limegreen !important;
    font-size: .85rem !important;
}

pre {
    background: #343434 !important;
    border-radius: 5px;
    box-shadow: none !important;
    color: limegreen !important;
}

p > a {
    color: #81bcff !important;
    text-decoration: underline !important;
}

p > a:visited {
    color: #9590ff !important;
    text-decoration: underline !important;
}

h1,h2,h3,h4,h5 {
    color: #4ba2a2 !important;
}

h1 > a {
    color: #4ba2a2 !important;
}
