
code {
    background: #343434 !important;
    color: limegreen !important;
}

pre {
    background: #343434 !important;
    border-radius: 5px;
    box-shadow: none !important;
    color: limegreen !important;
}

p > a {
    color: #81bcff !important;
    text-decoration: underline !important;
}

p > a:visited {
    color: #9590ff !important;
    text-decoration: underline !important;
}
